body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  background: #23252c;
  width: 550px;
  height: 888px;
  margin: 50px auto;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.app_container {
  text-align: center;
  text-align: center;
  align-items: center;
  position: relative;
  width: 317px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  top: 5%;
  height: 90%;
  border-radius: 6px;
}
.header_container {
  background-image: url("./laura.png");
  width: 100%;
  height: 317px;
}
main {
  color: white;
  line-height: 2px;
}
main h1 {
  letter-spacing: 0.5px;
}
main p {
  font-size: 13px;
}
.email_adress {
  font-size: 10px;
}
.btns_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.btn {
  width: 120px;
  padding: 8px 15px;

  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#linkedin {
  margin-left: 30px;
  color: white;
  background: #5093e2;
}
.main_content {
  color: wheat;
  text-align: left;
  padding: 20px;
  line-height: 18px;
}
.main_content h2 {
  margin: 0;
}
ul {
  padding-bottom: 30px;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
}
ul li {
  font-size: 25px;
  margin-right: 20px;
  color: wheat;
}
